<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%%= link_to t("admin-theme.list"), <%= controller_routing_path %>_path %></li>
      <li><%%= link_to t("admin-theme.new"), new_<%= singular_controller_routing_path %>_path %></li>
      <li class="active"><%%= link_to t("admin-theme.show"), <%= singular_controller_routing_path %>_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= resource_name.capitalize %> #<%%= @<%= resource_name %>.id %></h2>
    <div class="inner">

      <p>
        <b><%%= t("admin-theme.created_at") %>:</b>
        <%%= l @<%= resource_name %>.created_at, :format => :'admin-theme' %>
      </p>

      <p>
        <b><%%= t("admin-theme.updated_at") %>:</b>
        <%%= l @<%= resource_name %>.updated_at, :format => :'admin-theme' %>
      </p>

      <div class="wat-cf">
        <%%= link_to edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), :class => "button" do %>
          <%%= image_tag("web-app-theme/icons/application_edit.png", :alt => t("admin-theme.edit")) %>
          <%%= t("admin-theme.edit") %>
        <%% end %>
        <%%= link_to <%= singular_controller_routing_path %>_path(@<%= resource_name %>), :method => "delete", :class => "button",
              :data => { :confirm => t("admin-theme.confirm") } do %>
          <%%= image_tag("web-app-theme/icons/cross.png", :alt => t("admin-theme.delete")) %>
          <%%= t("admin-theme.delete") %>
        <%% end %>
      </div>
    </div>
  </div>
</div>
